h1 {
    padding-top: 70px;
    text-align: center;
    background-color: rgb(222, 184, 184);
}

.blogPage {
    margin-top: 50px;
}

.blogPost {
    margin: 2%;
}

.hello {
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.blogPost {
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: auto;
    margin-bottom: 10px;
}

.hello img {
    width: auto;
    max-height: 170px;
    opacity: 0.7;
    padding: 2px;
    border-radius: 10px;
}

.readmore,
.readless {
    display: block;
    font-weight: 500;
    background-color: rgb(222, 184, 184);
}

.readmore:hover,
.readless:hover {
    background-color: rgb(220, 151, 151);
    ;
}

.readmore:visited,
.readless:visited {
    color: blanchedalmond
}