/* contact us */

.contactUs{
    position: relative;
    min-height:100vh;
    padding: 90px 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contactUs .contactTitle{
    max-width:800px; 
    text-align: center;
}

.contactUs .contactTitle h2{
    font-size:40px;
    font-weight: 500;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 20px;
}


/* CONTACT INFO */
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}


.container .contactInfo .contactInfo-section{
    position:relative;
    padding: 20px 0;
    display: flex;   
}

.container .contactInfo .contactInfo-section:hover{
    background-color: #fff;
}


.container .contactInfo .contactInfo-section .icon{
    min-width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
} 


.container .contactInfo .contactInfo-section:hover .icon{
    top: 20px;
    right: calc(50%-40px);
    width: 80px;
    height:80px;
}

.container .contactInfo .contactInfo-section p{
    margin-left:20px;
    display:flex;
    flex-direction: column;
    font-size: 20px;
    font-weight:200;
}


/* CONTACT FORM */
.container .contactForm{
    width:40%;
    padding:40px;
    background: white;
}


.contactForm h2{
    font-size: 30px;
    color:rgb(193, 62, 62);
    font-weight: 500;

}


.contactForm .inputBox{
    position:relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea{
width:100%;
padding:5px 0;
font-size: 15px;
margin: 10px 0;
border: none;
border-bottom: 2px solid;
outline:none;
resize: none;
}

.contactForm .inputBox span{
    padding:5px 0;
    font-size: 15px;
    margin: 10px 0;
    position:absolute;
    left:0;
    pointer-events:none;
    transition: 0.5s;
    color: rgb(125, 125, 125);
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color:rgb(198, 88, 88);
    transform:translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width:100px;
    background:rgb(193, 62, 62);;
    color: #fff;
    border:none;
    cursor:pointer;
    padding: 10px;
    font-size:18px;
}

@media (max-width: 991px){
    .contact{
        padding:50px;
    }
    .container{
        flex-direction:column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo, .container .contactForm{
        width:100%;
    }
}

