@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,900;1,600&display=swap');
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

a {
    text-decoration: none;
}

h3 {
    padding: 0px 40px;
    text-align: center;
}

body {
    background-color: #f9ddd7
}


/* NAVBAR */

.header {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 50;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f9eaea;
}

.containerNB {
    max-width: 1180px;
    margin: 0px auto;
    padding: 5px 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.navbarBottom {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.navbarBottomSections {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarBottomSections li {
    list-style: none;
    padding: 0 20px;
    margin-right: 20px;
}

.navbarBottomSections li a {
    font-size: 20px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}

.navbarBottomSections li a:hover,
.navbarBottomSections li a.active {
    color: rgb(193, 62, 62);
}

.navbarBottomSections button {
    background-color: transparent;
}

.logo {
    width: calc(100%/2);
    margin: 0px;
    padding: 0px;
}


/* main section */

.delivery {
    width: 100%;
    background-color: black;
    transition: background-color 2s ease-out 20ms;
    margin-top: 47px;
}

.navbarTop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    padding: 7px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    height: 30px;
    width: 60%;
    animation: navbarTop 10s linear infinite;
}

@keyframes navbarTop {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.delivery:hover {
    background-color: #e17055;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 100px;
    margin: 0px 80px;
    background-color: #f5f5f7;
    min-height: 445px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.mainLeft,
.mainRight {
    flex: 1 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainRight img {
    width: auto;
    max-height: 300px;
}

@media (min-width: 991px) {
    .mainLeft {
        flex: 1 50%;
    }
    .mainRight {
        flex: 1 50%;
    }
}

.heroContent {
    margin-top: 70px;
    margin-left: 70px;
}

.mainLeft h4 {
    font-weight: 900;
    font-size: x-large;
    color: black;
}

.mainLeft h1 {
    font-weight: 900;
    font-size: xx-large;
    color: rgb(76, 38, 38);
}

.mainButtons {
    padding: 20px;
}

#mainButton {
    width: 90px;
    margin: 5px;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: background-color s ease-out 10ms;
}

#mainButton.Love {
    background-color: rgb(193, 62, 62);
}

#mainButton.Love:hover {
    background-color: rgb(250, 183, 183);
}

#mainButton.Hate {
    background-color: rgb(193, 62, 62);
}

#mainButton.Hate:hover {
    background-color: rgb(52, 24, 24);
}


/* SLIDES BEST SELLERS */

.bestSellersContainer {
    background-color: #f5f5f7;
    padding: 50px 100px;
    margin: 0px 80px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h3 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: x-large;
}

.card-box {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card {
    width: 200px;
    height: 300px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.2s;
}

.slides-box:hover {
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
}

.slides-img {
    height: 250px;
    width: 200px;
    position: relative;
    display: block;
}

.slides-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: border-box;
}

.slides-info {
    padding: 10px;
    text-align: center;
}

@media (max-width: 991px) {
    .bestSellersContainer {
        /* width: 100%; */
    }
    .card {
        flex-direction: column;
        margin-bottom: 20px;
        width: fixed;
    }
}


/* FOOTER */

.footer {
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f5f5f7;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.imgcards {
    height: 40px;
    width: 150px;
}

.socialMedia {
    padding: 5px;
    height: 30px;
    width: 30px;
}

.row {
    display: flex;
}

@media (max-width: 991px) {
    .footer {
        flex-direction: column;
        margin-bottom: 30px;
    }
}


/* ------Shop page------- */

.content-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fab1a0;
    padding: 3em;
    padding-top: 100px;
}
.content-section-cart {
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fab1a0;
    padding: 3em;
    padding-top: 100px;
}

.shop-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px; */
    justify-content: center;
}

.content-section .shop-item {
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    margin: 1%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 33.3%;
    height: auto;
}

.shop-item .shop-item-title {
    font-size: 18px;
    font-weight: bold;
}

.shop-item .shop-item-image {
    max-width: 100%;
    border-radius: 5px;
    /* max-height: 400px;
    min-height: 400px; */
    width: auto;
    transition: 0.5s ease;
}

.shop-item img {
    transition: 0.5s ease;
}

.shop-item:hover img {
    transform: scale(1.1);
    transition: 1s ease;
}

.shop-item .shop-item-details {
    text-align: center;
    margin-left: 0em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    position: relative;
}

.btn-primary {
    background-color: #e17055;
    border: none;
    padding: 1em;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
}

.btn-primary:hover {
    box-shadow: 2px 8px 12px #718093;
    color: #ffeaa7;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.section-header {
    font-style: bold;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}


/* ---Shop cart icon struggle--- */

.fas :focus {
    outline: 0;
    font-size: x-large;
    border: none;
    cursor: pointer;
    display: block;
    outline: none;
    box-shadow: none;
}

.fas:hover {
    color: rgb(193, 62, 62);
}